:root {
    --yellow: #FAEF9B;
    --yellow50: #FAEF9B80;
    --purple: #9BA6FA;
    --purple50: #9BA6FA80;
    --green: #9BFAC0;
    --green50: #9BFAC050;
    --pink: #FA9BD5;
    --pink50: #FA9BD550;
    --white: #F9F9F9;
    --white50: #F9F9F950;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: "Archivo", sans-serif;
    font-weight: 400;
    font-style: normal;

    /* To allow main to take up remaining height from navbar*/
    display:flex;
    flex-direction:column;
}

/* Padding for each outer section */
header, main, footer, #navToggledContent {
    padding: 20px 80px;
}

h1, h2, h3 {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 64px;
}

.bold-text {
    font-family: "Archivo Black", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

/* btns */
.btn-lg {
    font-size: 28px;
    padding: 10px 20px !important;
}

.btn-h-lg {
    padding: 10px 20px !important;
}

.p-btn {
    background-color: var(--purple);
    padding: 10px 10px;
    border: none;
    cursor: pointer;

    font-family: "Archivo Black", sans-serif;
}

.r-btn {
    background-color: var(--pink);
    padding: 10px 10px;
    border: none;
    cursor: pointer;

    font-family: "Archivo Black", sans-serif;
}

.y-btn {
    background-color: var(--yellow);
    padding: 10px 10px;
    border: none;
    cursor: pointer;

    font-family: "Archivo Black", sans-serif;
}

.g-btn {
    background-color: var(--green);
    padding: 10px 10px;
    border: none;
    cursor: pointer;

    font-family: "Archivo Black", sans-serif;
}

/* btns end */

/* Notifications */
.p-notif {
    background-color: var(--purple50);
    opacity: 50%;
    padding: 5px;
    border: none;
}

.r-notif {
    background-color: var(--pink50);
    padding: 5px;
    opacity: 50%;
    border: none;
}

.y-notif {
    background-color: var(--yellow50);
    padding: 5px;
    border: none;
}

.g-notif {
    background-color: var(--green50);
    padding: 10px 10px;
    border: none;
}
/* Notifications end */

/* Widths */
.w-30 {
    width: 30%
}
/* Widths end */

/* Input */
input {
    outline: transparent;
    border: 2px solid black;
    padding: 5px;
    width: 100%;
    font-family: "Archivo Black", sans-serif;
    font-size: 28px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

input[type="submit"] {
    width: auto;
}

/* Input end */

/* Popup message */
.popup-message {
    position: fixed;
    z-index: 20;
    width: 25%;
    height: 50%;
    font-size: 24px;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    border-radius: 20px;
    font-family: "Archivo Black", sans-serif;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.popup-message .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    text-align: center;
}

.popup-message .btns {
    margin: 20px 0;
}

.popup-message .banner {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 20%;
}

.popup-message .success {
    background-color: var(--green);
}

.popup-message .error  {
    background-color: var(--pink);
}
/* Popup message end */

/* Header */

header {
    display: grid;
    grid-template: 1fr / 1fr 2fr;
    background-color: var(--green);

    flex: 0 0 auto; /* don't grow, take up only needed space */
}

header .logo, header ul {
    display: flex;
    align-items: center;
    width: 100%;
}

header ul {
    justify-content: end;
    list-style-type: none;
}

header ul li {
    margin: 0 20px;
}

/* Header - Mobile */

#mobileContent {
    display: none;
    justify-content: end;
}

#mobileContent img {
    width: 20%;
}

#navToggledContent {
    width: 100%;
    height: 100vh;
    background-color: var(--green); 

    position: fixed;
    z-index: 200;

    /* changes */
    display: none;
}

#hamburgerDiv {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
}

#hamburgerDiv .logo {
    display: flex;
    align-items: center;
    font-size: 24px;
}

#hamburgerDiv .hamburger-cross {
    display: flex;
    justify-content: end;
}

#navToggledContent ul {
    justify-content: end;
    list-style-type: none;
}

#navToggledContent ul li {
    margin: 20px 0;
}

/* Header - Mobile end */

/* Centered page */
.centered {
    flex: 1 0 auto; /* Grow, don't shrink */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.centered h1 {
    text-align: center;
}

.centered > * {
    margin: 20px 0;
}

.centered-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.centered-block > * {
    margin: 20px 0;
}

/* Centered page end */

/* Header end */

/* Landing */
.landing {
    background-color: var(--yellow);
}

.landing p {
    width: 80%;
    font-size: 32px;
    text-align: center;
}

/* Landing End */

/* Error page */
#error404 {
    background-color: var(--yellow);
}

#error404 p {
    width: 80%;
    font-size: 32px;
    text-align: center;
}

/* Error page end */

/* Sign up page */
#signup {
    background-color: var(--yellow);
}

#signup form {
    width: 50%;
}

#signup form div {
    margin: 20px 0;
}
/* Sign up page end */

/* Sign in page */
#signin {
    background-color: var(--yellow);
}

#signin form {
    width: 50%;
}

#signin form div {
    margin: 20px 0;
}
/* Sign in page end */

/* Dashboard page */
#dashboard > * {
    margin: 20px 0;
}
/* Dashboard page end */

/* Media queries */
@media only screen and (max-width: 800px) {
    /* Mobile navbar */
    header .links {
        display: none;
    }

    header #mobileContent {
        display: flex;
    }

    #navToggledContent ul {
        height: 100%;
        width: 100%;
    }

    #navToggledContent ul li {
        margin: 40px 0;
    }
    /* Mobile navbar end */

    /* Popup message */
    .popup-message {
        width: 90%;
        height: 50%;
    }
    /* Popup message */

    /* Widths */
    .w-30 {
        width: 50%;
    }
    /* Widths end */

    /* Sign up page */
    #signup form {
        width: 100%;
    }
    /* Sign up page end */

    /* Sign in page */
    #signin form {
        width: 100%;
    }
    /* Sign in page end */
}

@media only screen and (max-width: 425px) {
    /* Padding for each outer section */
    header, main, footer, #navToggledContent {
        padding: 20px;
    }

    /* Mobile navbar */
    #hamburgerDiv img {
        width: 20%;
    }
    /* Mobile navbar end */

    /* Text */
    h1 {
        font-size: 48px;
    }

    .landing p,
    .error p {
        font-size: 24px;
    }
    
    /* Text end */
}

/* Media queries end */